body {
  background-color: #282c34;
}

h1 {
  color: salmon;
  font-family: system-ui;
}

#editor-container {
  height: 50vh;
  overflow: auto;
  
  border: solid;
  border-color: salmon;
  border-radius: 15px;
}

